.wrapper
	.main_content
			header.header
				.container							
					nav.main_menu
						.container
							.logo Lorem

							ul.menu__list
								li.menu__item
									a.menu__link(href="#about_me") Об авторе
								li.menu__item
									a.menu__link(href="#study") Ученикам
								li.menu__item
									a.menu__link(href="#blog") Блог
								li.menu__item
									a.menu__link(href="#contacts") Контакты
						
				main.main
					.container
						h1.main_title
					
footer.footer
	.container copyright

